/*Contacto*/
.icons{
   @include flex-direct-ai (none, none, space-evenly);
    margin-top: map-get($map: $pixels, $key:20px );
    margin-bottom: map-get($map: $pixels, $key:20px );
}
svg {
    width: map-get($map: $pixels, $key: 24px ); 
    height:  map-get($map: $pixels, $key: 24px ); 
  }