/* Footer */
footer {
    background-color: $color-primario;
    padding: map-get($map: $pixels, $key: 20px );
    text-align: $centrar; 
    color: $blanco;
    @include flex-direct-ai(column, none, none)
}

