/* Main*/
.historia {
    text-align: center;
}
.contacto {
    text-align: center;
}

.nosotros {
    text-align: center;
}

img {
    width: 100%;
    height: 100%;
}

/*Aside*/
ul {
    list-style-type: none;
  }
