//Tipografia

$titulo-principal: "Roboto", sans-serif;
$margin-reset: 0;
$padding-reset: 0;

//Colores
$blanco: #FFFFFF;
$color-primario:#000000;


//Alineamiento
$centrar: center; 

//Mapa

$pixels: (
    principal: 20px,
    secundario: 24px,
    terciario: 25px,
    altura: 550px,
    );